<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcj.sunshine.album">
    <application>
        <activity
            android:name="com.tcj.sunshine.view.activity.BoxingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Boxing.AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.tcj.sunshine.view.activity.BoxingPreviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Boxing.AppTheme.NoActionBar">
        </activity>
    </application>
</manifest>
